@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Noto Sans", sans-serif;
    color: #2c3e50;
}

h1,
h2,
h3 {
    font-weight: 600;
}
