@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

:root {
    --text: #fff;
    --bg-body: #11121d;
    --bg-lighter: #33373b;
    --accent: #6d4aff;

    --extra-small-size-fluid: clamp(1rem, 2vw, 1.5rem);
    --small-size-fluid: clamp(1.25rem, 3vw, 2rem);
    --medium-size-fluid: clamp(2rem, 4vw, 3rem);
    --large-size-fluid: clamp(2.5rem, 6vw, 4.5rem);

    --box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
html,
body {
    min-height: 100vh;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--text);

    background-color: var(--bg-body);
}

h1,
h2,
h3 {
    font-weight: 600;
}
