@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

:root {
  --white: #f0f1f2;
  --grey: #989ea2;
  --bg-dark: #1e2126;
  --bg-medium: #262a30;
  --bg-lighter: #363c44;
  --accent: #ffd919;
  --accent2: #e63ac8;
  --accent3: #50b6ff;

  --extra-small-size-fluid: clamp(0.5rem, 1vw, 0.75rem);
  --small-size-fluid: clamp(1rem, 2vw, 1.5rem);
  --medium-size-fluid: clamp(2rem, 4vw, 3rem);
  --large-size-fluid: clamp(2.5rem, 6vw, 4.5rem);

  --box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 0.75rem;

  background-color: var(--bg-body);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: var(--bg-lighter);

  border: 1px solid var(--bg-lighter);
}
body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--white);

  background-color: var(--bg-dark);
}
h1,
h2,
h3 {
  font-weight: 600;
}
